<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>solicitar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>solicitar viaje</h1>
  <div class="contenedor">
    <ion-icon name="location-outline" class="icono"></ion-icon>
    <input type="text" placeholder="Ingrese destino">
  </div>
  <div class="contenedor">
    <ion-icon name="location-outline" class="icono"></ion-icon>
    <input type="text"placeholder="Hasta">
  </div>
  <div class="contenedor">
    <button>Solicitar</button>
  </div>
  <div>
    <img src="assets/icon/Celular-2.png" class="img" alt="">
  </div>
</ion-content>
