ion-header{
    --ion-background-color:black;
    margin:0 auto;
    border-bottom: white;
  }

ion-title {
    color: white;
}

ion-content{
    --ion-background-color:black;
    margin:0 auto;
    
  }