<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reservar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <ion-icon name="calendar-outline" class="icono"></ion-icon>
    <p class="texto">Ingrese horario de salida</p>
  </div>
  <div class="contenedor">
    <ion-icon name="hourglass-outline" class="icono"></ion-icon>
    <p class="texto">Tiempo estimado de salida de clases</p>
  </div>
  <div class="contenedor">
    <ion-icon name="close-outline" class="icono"></ion-icon>
    <p class="texto">Cancelar el servicio</p>
  </div>
  <div>
    <img src="assets/icon/Celular-1.jpg" class="img" alt="">
  </div>
</ion-content>
