<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <h1>horario salida de clases</h1>
  </div>

<ion-content>
  <div class="contenedor">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Horario Despertino</th>
            <th>Horario Diurno</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Arturo</td>
            <td>Despertino</td>
            <td>x</td>
            <td>18:00</td>
          </tr>
          <tr>
            <td>Francisco</td>
            <td>Despertino</td>
            <td>x</td>
            <td>17:50</td>
          </tr>
          <tr>
            <td>Nicolas</td>
            <td>Despertino</td>
            <td>x</td>
            <td>18:00</td>
          </tr>
          <tr>
            <td>Walter</td>
            <td>Despertino</td>
            <td>x</td>
            <td>18:30</td>
          </tr>
          <tr>
            <td>Macarena</td>
            <td>Despertino</td>
            <td>x</td>
            <td>18:50</td>
          </tr>
        </tbody>
      </table>
  </div>
  <button>Seleccionar</button>

  <div>
    <img src="assets/icon/descarga.jpg" alt="">
  </div>
</ion-content>
