<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
  src="assets/icon/TeLlevoApp.png"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>

<ion-card>
  <img alt="" src="https://autoline24.cl/img/s/automovil-furgoneta-de-pasajeros-Renault-Master-Economy-L3H2-KF-Minibus-19-seats-FOR-ORDER---1646651107460867090_big--22030712565837230700.jpg">
  <ion-card-header>
    <ion-card-title>Transporte para grupos</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  Para llevar a mas compañeros donde tu quieras.
  </ion-card-content>
</ion-card>
    
   

