<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar show-clear-button="always" clear-icon="trash-bin" value="Buscar.."></ion-searchbar>
     
  
    <ion-card>
      <img src="assets/icon/Select.webp" alt="">
      <ion-button (click)="soliciatar()" color="white">Solicitar</ion-button>
    </ion-card>

    <ion-card>
      <img src="assets/icon/reserve.webp" alt="">
      <ion-button (click)="reservar()" color="white">Reserva</ion-button>
    </ion-card>

    <ion-card>
      <img src="assets/icon/horario.webp" alt="">
      <ion-button (click)="horario()" color="white">Horario</ion-button>
    </ion-card>

</ion-content>


