ion-toolbar{
    --ion-background-color:#0f71ce;
    margin:0 auto;
}

ion-content{
  --ion-background-color:lightblue;
  margin:0 auto;
}

ion-card {
    --ion-background-color:#ffffff;
  margin:0 auto;
}
