<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formularioRegistro" class="form_main">


  <div class="imgcontainer">
    <!-- <ion-img src="assets/icon/apptellevo.png"></ion-img> -->
  </div>

  <div class="container">

    <!--<label for="uname" style="color: white;"><b>Usuario</b></label>-->
    <input formControlName="usuario" type="text" placeholder="Ingrese Usuario" name="usuario" required>

    <input formControlName="correo" type="email" placeholder="Ingrese Correo" name="correo" required>

    <!--<label for="psw" style="color: white;"><b>Contraseña</b></label>-->
    <input formControlName="contrasena" type="password" placeholder="Ingrese Contraseña" name="contrasena" required>

    <input formControlName="repetirContrasena" type="password" placeholder="Confirme Contraseña" name="repetirContrasena" required>
  </div>

  
    <!--<button type="button" class="cancelbtn" [routerLink]="['/home']" >Salir</button>-->
    <!--<span class="psw" style=" margin-bottom: 80%; margin-right: 5%;" >Has olvidado tu <a href="recuperate">Contraseña?</a></span>-->



<!--<div id="container" style="text-align: center;">
  <p><a target="_self" rel="noopener noreferrer" href="register">Crear Cuenta</a></p>
</div>-->

  <div id="container">

  <button name="ingresar" (click)="registrar()" class="btn">Registrar</button>

  <p class="pregunta">¿Ya tienes una cuenta?<a  class="linkIniciar" href="inicio"> Iniciar sesión</a></p>
  
  </div>
</form>

</ion-content>
